<div class="container mt-5">
    <div class="col-md-12">
      <div class="card card-examen" style="width: 18rem;">
        <img src="../assets/img/examen.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Examen final</h5>
          <p class="card-text">
            Estás en el último paso para llegar a ser todo un profesional
            en desarrollo WEB en Angular.<br>
            Si apruebas con más de <b>8</b>, pasarás el exámen.<br>
            ¿Estás preparado?
          </p>
          <a href="#" class="btn btn-success col-md-12" [routerLink]="['/registro']">Hacer examen</a>
        </div>
      </div>
    </div>
  </div>